* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
    
  }
  
  body {
    background: linear-gradient(
      90deg,
      rgb(212, 164, 216) 0%,
      rgb(100, 126, 255) 100%
    );
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 500px;
    min-height: 600px;
    background: #d9bdf1;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: rgb(159, 141, 208);
    font-size: 35px;
    font-family: 'Courier New',
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 35px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 6px 0 0 4px;
    border: 2px solid rgb(159, 141, 208);
    outline: none;
    width: 320px;
    background: transparent;
    color: rgb(159, 141, 208);
  }
  
  .todo-input::placeholder {
    color: #050114;
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgb(166, 137, 224) 0%,
      rgb(186, 129, 188) 100%
    );
    color: rgb(2, 0, 7);
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid #149fff;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgb(81, 210, 139) 0%,
      rgb(49, 154, 196) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgb(184, 157, 239) 0%,
      rgb(221, 123, 200) 100%
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgb(232, 162, 229) 0%,
      rgb(217, 123, 173) 100%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgb(97, 183, 244) 0%,
      rgb(94, 159, 245) 100%
    );
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }
  
